
body {font-family: Arial; margin:0; background:#f9f9f9;}
header {background:#0b3c5d; color:#fff; padding:40px; text-align:center;}
.btn {background:#f4b400; padding:10px 20px; color:#000; text-decoration:none;}
section {padding:30px; background:#fff; margin:20px;}
form input, form select, form button {display:block; margin:10px 0; padding:10px; width:100%;}
footer {text-align:center; padding:20px; background:#eee;}
